.navLogo {
    margin: 10px 5px 5px 5px;
}

.navLabel {

    margin-right: 40px;
    
    color: blue;
    font-size: 18px;
    margin-top: 10px;
}

.sideNav {
    margin-top: 10px;
    margin-left: -15px;
    height: auto;
    color: red;
     position: -webkit-sticky;
  position: sticky ;
  bottom: 1rem;
  align-self: flex-end;
}

.sideNav a {
    padding: 6px 43px 6px 62px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sideNav a:hover {
    color: red;
}

.banner {
    margin-top: 48px;
}

.cardShadow {
    box-shadow: 3px 3px 12px 6px #ccc;
}

.cardLabel {
    padding: 15px;
    font-size: 20px;
    margin-left: 15px;
}

.boxHeight {
    display: flex;
}

.cardMargin {
    margin-right: 50px;
}

.cardBodyMargin {
    margin-left: 10px;
}

.viewBtn {
    float: right;
    margin-top: -41px;
    margin-right: 60px;
}

.addBanner {
    margin: 20px 0px 20px 0px;
}

.imgHover:hover {
    box-shadow: 3px 3px 12px 6px #ccc;
}

.cardBodyMarginSports {
    margin-left: 50px;
}

.footerCategories a {
    color: black;
    font-weight: 25;
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.fa {
    padding: 5px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.btnSize {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .cardBodyMargin {
        margin-left: -20px;
    }
    .sideNav {
        width: 100%;
        position: relative;
        margin-left: 5px;
    }
    .banner {
        margin-top: -20px;
    }
}

.divHeightFix {
    min-height: 336px;
}

.cardImgMargin {
    margin-left: -30px
}

.cardMarginSports {
    margin-right: 30px;
}

.cardMarginCycles {
    margin-right: 20px;
}

.detailProd {
    border: 1px solid #f1d9d9;
}

.detailProdSmall{
    border: 1px solid #f1d9d9;
    margin-top: 10px;
    padding: 3px
}



.btnAddToCart {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    background: #ff9f00;
    color: #fff;
    font-size: 18px;
}

.btnBuyNow {
    padding: 18px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 98%;
    border: none;
    float: left;
    background: #fb641b;
    color: #fff;
    font-size: 18px;
}


.prodLine {
    border-top: 1px solid #f1d9d9;
}

@media only screen and (max-width: 1000px) {
    .imageSmallSize {
        width: 80px;
        height: 110px;
    }
}

.txtProdHead {
    font-size: 18px;
}

.panelLineHeight {
    line-height: 30px;
}

.btnViewDetail {
    margin-top: 20px;
    margin-left: 20px;
}