
  <div class="cardShadow">
      <h5 class="cardLabel">Electronics</h5>
      <a routerLink="/electronics">
          <button class="btn btn-primary viewBtn">View All</button>
      </a>
      <div class="boxHeight">
          <div class="text-center" style="margin-top: 30px">
              <div class="card col-lg-offset-1 col-lg-2 col-sm-4 col-sm-offset-2 col-md-2 cardMargin">
                  <a routerLink="/electronics-description/0"><img class="card-img-top imgHover cardImgMargin" src="./assets/images/iphone_6.jpg" alt="Card image cap"></a>
                  <div class="card-body cardBodyMargin">
                      <h5 class="card-title">Apple Iphone6</h5>
                      <label class="card-text">&#8377; 23,995</label>
                  </div>
              </div>
              <div class="card col-lg-2 col-sm-4 cardMargin">
                  <a routerLink="/electronics-description/1"> <img class="card-img-top imgHover cardImgMargin" src="../assets/images/Nokia_6.1.jpg" alt="Card image cap"></a>
                  <div class="card-body cardBodyMargin">
                      <h5 class="card-title">Nokia 6.1(64GB)</h5>
                      <label class="card-text">&#8377; 18,999</label>
                  </div>
              </div>
              <div class="card col-lg-2 col-sm-4 col-lg-offset-0 col-sm-offset-2 cardMargin">
                  <a routerLink="/electronics-description/2"> <img class="card-img-top imgHover cardImgMargin" src="../assets/images/one_plus_1.jpg" alt="Card image cap"></a>
                  <div class="card-body cardBodyMargin">
                      <h5 class="card-title">OnePlus6 (32GB)</h5>
                      <label class="card-text">&#8377; 34,999</label>
                  </div>
              </div>
              <div class="card col-lg-2 col-sm-4 cardMargin">
                  <a routerLink="/electronics-description/3"> <img class="card-img-top  imgHover cardImgMargin" src="../assets/images/galaxy_A8+.jpg" alt="Card image cap"></a>
                  <div class="card-body cardBodyMargin">
                      <h5 class="card-title">Samsung GalaxyA8+</h5>
                      <label class="card-text">&#8377; 27,990</label>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="cardShadow">
    <h5 class="cardLabel">Fashion</h5>
    <a routerLink="/fashion">
        <button class="btn btn-primary viewBtn">View All</button>
    </a>
    <div class="boxHeight">
        <div class="text-center" style="margin-top: 30px">
            <div class="card col-lg-offset-1 col-lg-2 col-sm-4 col-sm-offset-2 col-md-2 cardMargin divHeightFix">
                <a routerLink="/fashion-description/0" onclick="localID(0)"> <img class="card-img-top imgHover cardImgMargin" src="../assets/images/tshirt_benetton.jpg" alt="Card image cap"></a>
                <div class="card-body cardBodyMargin">
                    <h5 class="card-title">Men's Solid Regular Fit Polo</h5>
                    <label class="card-text">&#8377; 995</label>
                </div>
            </div>
            <div class="card col-lg-2 col-sm-4 cardMargin divHeightFix">
                <a routerLink="/fashion-description/1" onclick="localID(1)"> <img class="card-img-top imgHover cardImgMargin" src="../assets/images/US.jpg" alt="Card image cap"></a>
                <div class="card-body cardBodyMargin">
                    <h5 class="card-title">Men's Striped Polo</h5>
                    <label class="card-text">&#8377; 959</label>
                </div>
            </div>
            <div class="card col-lg-2 col-sm-4 col-sm-offset-2 col-lg-offset-0 cardMargin divHeightFix">
                <a routerLink="/fashion-description/2" onclick="localID(2)"> <img class="card-img-top imgHover cardImgMargin" src="../assets/images/levis.jpg" alt="Card image cap"></a>
                <div class="card-body cardBodyMargin">
                    <h5 class="card-title">Levi's Solid Regular Men's Polo</h5>
                    <label class="card-text">&#8377; 1199</label>
                </div>
            </div>
            <div class="card col-lg-2 col-sm-4 cardMargin divHeightFix">
                <a routerLink="/fashion-description/3" onclick="localID(3)"><img class="card-img-top imgHover cardImgMargin" src="../assets/images/shirt.jpg" alt="Card image cap"></a>
                <div class="card-body cardBodyMargin">
                    <h5 class="card-title">Peter England Men's Shirt</h5>
                    <label class="card-text">&#8377; 2799</label>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="../assets/images/banner2.jpg" alt="image not found" class="img-responsive addBanner">
    <div class="cardShadow">
        <h5 class="cardLabel">Sports</h5>
        <a routerLink="/sports">
        <button class="btn btn-primary viewBtn">View All</button>
        </a>        
        <div class="boxHeight">
            <div class="text-center" style="margin-top: 30px">
                <div class="card col-lg-offset-2 col-lg-3 col-sm-3 col-md-3 col-sm-offset-1 cardMarginSports">
                    <a routerLink="/sports-description/0"><img class="card-img-top imgHover image-circle" src="../assets/images/badminton.jpg" alt="Card image cap" width="160px" height="160px"></a>
                    <div class="card-body cardBodyMarginSports">
                        <h5 class="card-title">Silver's SB 503 Badminton Racquet</h5>
                        <label class="card-text">&#8377; 849</label>
                    </div>
                </div>
                <div class="card col-lg-3 col-sm-3 cardMarginSports">
                    <a routerLink="/sports-description/1"><img class="card-img-top imgHover" src="../assets/images/helmet_ss.jpg" alt="Card image cap"></a>
                    <div class="card-body cardBodyMarginSports">
                        <h5 class="card-title">SS Heritage Cricket Helmet</h5>
                        <label class="card-text">&#8377; 919</label>
                    </div>
                </div>
                <div class="card col-lg-3 col-sm-3">
                    <a routerLink="/sports-description/2"> <img class="card-img-top imgHover" src="../assets/images/helmet.jpg" alt="Card image cap"></a>
                    <div class="card-body cardBodyMarginSports">
                        <h5 class="card-title">SG Optipro Cricket Helmet</h5>
                        <label class="card-text">&#8377; 990</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cardShadow">
      <h5 class="cardLabel">Cycles</h5>
      <a routerLink="/cycles">
      <button class="btn btn-primary viewBtn">View All</button>
    </a>
      <div class="boxHeight">
          <div class="text-center" style="margin-top: 30px">
              <div class="card col-lg-offset-2 col-lg-4 col-sm-12 col-md-2 col-sm-offset-0 cardMarginCycles">
                  <a routerLink="/cycles-description/0"><img class="card-img-top imgHover image-responsive" src="../assets/images/Hero.jpg" alt="Card image cap" height="250px" width="250px"></a>
                  <div class="card-body cardBodyMargin">
                      <h5 class="card-title">Hercules Roadeo Hank 24T 21 Gear Cycle (Neon Orange) 13.5inch Frame</h5>
                      <label class="card-text">&#8377; 9,995</label>
                  </div>
              </div>
              <div class="card col-lg-4 col-sm-12 col-lg-offset-1 col-sm-offset-0 cardMargin">
                  <a routerLink="/cycles-description/1"> <img class="card-img-top imgHover" src="../assets/images/Avon.jpg" alt="Card image cap" height="250px" width="250px"></a>
                  <div class="card-body">
                      <h5 class="card-title">Avon Bounce Cycle for Boys - Florescent Red/Black</h5>
                      <label class="card-text">&#8377; 4,990</label>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="text-center">
    <h2>Special Offers</h2>
    <img src="../assets/images/specialOffer.jpg" alt="special offers" width="100%">
</div>
  

